S3ADDRESS="oss.geocodes-aws.earthcube.org"
S3KEY=
S3SECRET=

## optional these are the defaults
useSSL=true
S3PORT=
BUCKET='test'
BUCKETPATH='summoned'
PATHTEMPLATE='/{{bucketpath}}/{{reponame}}/{{sha}}.jsonld'

TOOLTEMPLATE ='{{bucketpath}}/{{reponame}}/{{ref}}.jsonld'
TOOLBUCKET='ecrr'
TOOLPATH='summoned'
TOOLREPO='ecrr_submitted'
URIVERSION='v2'
