name: Deploy to Github pages and alpha s3
on:
  push:

defaults:
  run:
    working-directory: ./client
jobs:
  deploy:
    name: Deploy Application
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v2
      - name: Create Node Environment
        uses: actions/setup-node@v2
        env:
#          NODE_ENV: production
          NODE_ENV: staging
        with:
          node-version: '14'
      - run: npm install -g @vue/cli yarn
      - run: yarn install
      - run: yarn production
      - name: Deploy
        uses: s0/git-publish-subdir-action@develop
        env:
          REPO: self
          BRANCH: gh-pages
          FOLDER: client/dist
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SQUASH_HISTORY: true
      - name: Deploy to s3
        uses: jakejarvis/s3-sync-action@master
        with:
          args: --acl public-read --follow-symlinks --delete
        env:
          AWS_S3_BUCKET: ${{ secrets.AWS_S3_BUCKET }}
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          AWS_REGION: 'us-west-1'   # optional: defaults to us-east-1
          AWS_S3_ENDPOINT: ${{ secrets.S3_GEOCODES_ENDPOINT }}
          SOURCE_DIR: 'client/dist'      # optional: defaults to entire repository
          DEST_DIR: 'vue/website'
